@import "tailwindcss";

/* Base kecil untuk font & smoothing */
:root {
  --bg-grad-from: #eaffd8;
  --bg-grad-to: #c7f1b8;
}

html, body, #root {
  height: 100%;
}

body {
  background: linear-gradient(to above, #fafff6, #d7ffce);
  color: #4b5563; /* text-gray-800 */
  font-family: 'Poppins', sans-serif;
}

/* Hilangkan icon default date */
.no-native-date-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.no-native-date-icon::-moz-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
